<launch>
  <!-- Start the controller node -->
  <node pkg="my_simulations" type="controller" name="my_controller_node" output="screen">
  </node>

  <!-- Start the turtlebot movement node -->
  <node pkg="my_simulations" type="turtlebot_move" name="my_turtlebot_node" output="screen">
  </node>

  <!-- Start the ur10 movement node -->
  <node pkg="my_simulations" type="gripping_ur10s" name="my_gripping_node" output="screen">
  </node>
</launch>

